*{
    box-sizing: border-box;
}
#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}



body {
    background-color: gold;
    display: block;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;

}

div {
    font-family: cursive;
    color: black;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    
    width: 33.33%;
    height: 200px;
    float: left;
    vertical-align: top;
}

.right {
    
    width: 33.33%;
    height: 200px;
    float: right;
   vertical-align: top;
    
}

.middle {

    
    width: 33.33%;
    height: 200px;
    float: left;
    vertical-align: top;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left; 
}

#cart  {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    align-items: center;
    background-color: red;
    color: white;
    font-family: cursive;
}